/.vscode
/.embuild
/target
/Cargo.lock
/.venv
# ESP-IDF - only track secure_bootloader config
/esp-idf/*
!/esp-idf/secure_bootloader
/esp-idf/secure_bootloader/build
/esp-idf/secure_bootloader/sdkconfig.old
*.bin

# Certificates
main/src/certificates/*.pem
main/src/certificates/*.crt
main/src/certificates/*.key

# Secure boot certificates
/*.pem