GET_STARTED_URL=https://babu12345.github.io/portrait_v2_ios/get_started
SUPPORT_URL=https://babu12345.github.io/portrait_v2_ios/support
MQTT_BROKER=avbh2adibwzla-ats.iot.us-east-2.amazonaws.com
MQTT_PORT=8883
MQTT_CLIENT_ID=000001
CA_CERT_PATH=src/certificates/ca1.pem
CLIENT_CERT_PATH=src/certificates/cert.pem.crt
PRIVATE_KEY_PATH=src/certificates/private_key.pem.key
OTA_CA_CERT_PATH=src/certificates/ota_ca.pem
FIRMWARE_HOST_DIR=/path/to/website/docs/firmware
FIRMWARE_BASE_URL=https://your-site.example.com/firmware
