GET_STARTED_URL=https://www.paperportraitdisplay.com/get-started
SUPPORT_URL=https://www.paperportraitdisplay.com/support
APP_STORE_URL=https://apps.apple.com/ca/app/paper-portrait-connect/id6756092368
MQTT_BROKER=avbh2adibwzla-ats.iot.us-east-2.amazonaws.com
MQTT_PORT=8883
CA_CERT_PATH=src/certificates/ca1.pem
CLIENT_CERT_PATH=src/certificates/cert.pem.crt
PRIVATE_KEY_PATH=src/certificates/private_key.pem.key
OTA_CA_CERT_PATH=src/certificates/ota_ca.pem
FIRMWARE_HOST_DIR=/path/to/portrait_v2/web/public/firmware
FIRMWARE_BASE_URL=https://www.paperportraitdisplay.com/firmware
